@model RegistrationUserMVC.Models.Prescription
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    @*<link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/prescription.css">
        <link rel="stylesheet" href="css/media.css">*@
    <link href="~/Content/mybootstrap.css" rel="stylesheet" />
    <link href="~/Content/prescription.css" rel="stylesheet" />


    <title>Bootstrap PSD to HTML</title>
</head>

@using (Html.BeginForm())
{

    <body>

        @Html.AntiForgeryToken()
        <section class="prescription">
            <div class="container prescription_body">
                <p class="h1 text-center mt-5 mb-5">PRESCRIPTION</p>
                <form>
                    @*<div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label">Full Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName" placeholder="fullname">
        </div>
                </div>*@

                    <div class="form-group row">
                        @Html.LabelFor(model => model.UserID, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.UserID, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserID, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.FullName, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group row">

                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-10">
                            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.DiagnosedWith, htmlAttributes: new { @class = "col-sm-2 col-form-label" })

                        <div class="col-sm-6">
                            @Html.EditorFor(model => model.DiagnosedWith, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.DiagnosedWith, "", new { @class = "text-danger" })
                        </div>
                        <span>[Name of the illness that the patient is suffering]</span>
                    </div>

                    <div class="form-group row">

                        @Html.LabelFor(model => model.BloodPressure, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.BloodPressure, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BloodPressure, "", new { @class = "text-danger" })
                        </div>
                        @Html.LabelFor(model => model.HeartRate, htmlAttributes: new { @class = "col-sm-2 col-form-label" })
                        <div class="col-sm-4">
                            @Html.EditorFor(model => model.HeartRate, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.HeartRate, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="form-group row">
                        <div class="col-sm-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col" class="h4 font-weight-bold">Drug </th>
                                        <th scope="col" class="h4 font-weight-bold">Unit (tablet, or syrup)</th>
                                        <th scope="col" class="h4 font-weight-bold">Dosage (per day)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                        <td>  @Html.EditorFor(model => model.DragName, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td> @Html.EditorFor(model => model.Unit, new { htmlAttributes = new { @class = "form-control" } })</td>
                                        <td>@Html.EditorFor(model => model.Dosage, new { htmlAttributes = new { @class = "form-control" } })</td>
                                    </tr>
                                    @*<tr>

                            <td class="h5 "> NAPA</td>
                            <td class="h5 "> Syrup</td>
                            <td class="h5 ">1 + 0 + 1 </td>
                        </tr>
                        <tr>

                            <td class="h5 "> NAPA</td>
                            <td class="h5 "> Syrup</td>
                            <td class="h5 ">1 + 0 + 1 </td>
                        </tr>*@
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputTest" class="col-sm-2 col-form-label">Examination to be done (if any): </label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.Examination, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="inputFollow" class="col-sm-2 col-form-label">Things to follow: </label>
                        <div class="col-sm-12">
                            @Html.EditorFor(model => model.ThingsToFollow, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="inputSig" class="col-sm-3 col-form-label">Signature of the physician: </label>
                        <div class="col-sm-4">

                            @Html.EditorFor(model => model.Signature, new { htmlAttributes = new { @class = "form-control" } })
                        </div>


                    </div>

                  
                    <div class="form-group  text-center">
                        <div class=" m-4">
                            <button class="btn btn-outline-warning" type="submit" name="Submit">Prescribed </button>
                        </div>
                    </div>


                    @*<div>
                        <input type="submit" name="Submit" value="Prescribed" />
                    </div>*@

                </form>
            </div>
        </section>



        <!-- jQuery first then Bootstrap JS -->
        @*<script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
            <script type="text/javascript" src="js/bootstrap.js"></script>*@
        <!--    customized js-->
        @*<script type="text/javascript" src="js/main.js"></script>*@

        <script src="~/Scripts/jquery-3.3.1.min.js"></script>
        <script src="~/Scripts/mybootstrap.js"></script>
    </body>
}

</html>
